.login_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;

    .login_right_cont {
        width: 800px;
        background: linear-gradient(238.66deg, #0283E9 -18.13%, #FC01CA 120.27%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .login_right_wc {
            font-family: 'Josefin Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 48.83px;
            line-height: 73px;
            color: #FFF;
        }

        .login_right_to_ds {
            font-family: 'Josefin Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 48.83px;
            line-height: 73px;
            color: #FFF;

            span {
                font-weight: 900;
                font-size: 60px;
            }
        }

        .login_right_ds_feat {
            height: 500px;
            width: 300px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            .login_right_ds-feat_cont {
                display: flex;
    
                .login_right_check_icon {
                    color: white;
                    margin: 5px 15px 0px 0px;
                }
    
                .login_right_feat {
                    font-family: 'Josefin Sans';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 30px;
                    color: #FFFFFF;
                }
            }

            .login_right_ds-feat_cont_cred {

                .login_right_cred {
                    font-family: 'Josefin Sans';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    font-style: italic;
                    line-height: 30px;
                    color: #FFFFFF;
                    transform: translate(30px, 0px);                   
                }
            }
        }
    }
    
    .login_left_cont {
        width: 900px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .login_left_email_pw_cont {
            height: 250px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            .login_left_email_label {
                font-family: 'Josefin Sans';
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 30px;
                color: #2B2B2B;
            }

            .login_left_email_cont {
                width: 650px;
                height: 50px;
                border-radius: 5px;
                border: solid #2B2B2B 2px;
                
                .login_left_email_input {
                    height: 30px;
                    width: 450px;
                    margin: 9px 0px 0px 7px;
                    font-family: 'Josefin Sans';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 30px;
                    color: #2B2B2B;
                }

                input {
                    outline: none;
                    border: none;
                }
            }

            .login_left_pw_label {
                font-family: 'Josefin Sans';
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 30px;
                color: #2B2B2B;
            }

            .login_left_pw_cont {
                width: 650px;
                height: 50px;
                border-radius: 5px;
                border: solid #2B2B2B 2px;
                display: flex;
                justify-content: space-between;
                
                .login_left_pw_input {
                    height: 30px;
                    width: 450px;
                    margin: 9px 0px 0px 7px;
                    font-family: 'Josefin Sans';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 30px;
                    color: #2B2B2B;
                }

                input {
                    outline: none;
                    border: none;
                }

                .login_left_eye {

                    .login_left_eye_btn {
                        font-size: 30px;
                        color: #2B2B2B;
                        margin: 9px 20px 0px 0px;
                    }
                }
            }
        }

        .login_left_forgot_cont {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
            height: 110px;
            width: 650px;
            margin: -10px 0px 0px 0px;

            .login_left_forgot {
                font-family: 'Josefin Sans';
                font-style: normal;
                font-weight: 600;
                font-size: 15px;
                line-height: 30px;
                color: #2B2B2B;
            }

            // .login_left_login_btn_link {

                .login_left_login_btn {
                    width: 145px;
                    height: 47px;
                    background: linear-gradient(238.66deg, #0283E9 -18.13%, #FC01CA 120.27%);
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
    
                    span {
                        font-family: 'Josefin Sans';
                        font-style: normal;
                        font-weight: 800;
                        font-size: 18px;
                        line-height: 18px;
                        color: #FFFFFF;
                        letter-spacing: 1px;
                    }
                }
            // }
            

            .login_left_login_btn_link {
                text-decoration: none;
            }
        }
    }
}